<table class="table">
	<thead>
		<tr>
			<th>Descricao</th>
			<th>Responsavel</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<% lista_tarefa.each do |tarefa| %>
		<tr id="tarefa_<%=tarefa.id%>">
			<% if tarefa.concluida? %>
			  <td><strike><%= tarefa.descricao %></strike></td>			
			<% else %>
			  <td><%= tarefa.descricao %></td>
			<% end %>
			
			<td><%= tarefa.responsavel %></td>
			<td><%= link_to 'Alterar', edit_projeto_tarefa_path(tarefa.projeto, tarefa) %></td>
			<td>
				<%= link_to 'Remover', projeto_tarefa_path(tarefa.projeto,tarefa),
				  	:method => :delete,
						:class => 'remove-tarefa', 'data-elemento_id' => "tarefa_#{tarefa.id}" %>
			</td>
			<% if tarefa.concluida? %>
			  <td>Concluida</td>
			<% else %>			  
			  <td><%= link_to 'Concluir', projeto_tarefa_concluir_path(tarefa.projeto,tarefa) %></td> 
			<% end %> 
		</tr>
	<%end%>
</table>

<%=content_for :js do%>
	<%= javascript_include_tag "tarefas" %>
<%end%>
